/***************************TAG SELECTOR**********************/
body {
    background-color: #EAF6F6;
    transform: scale(1);
}
hr {
    border-style: none;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #5EC3B0;
}
h3{
    color: #5EC3B0;
}
/*using class for specific object not all the images*/
/*******************************CLASS SELECTORS************************/
.profile
{
    background-color: #EAF6F6;
    border-radius: 100%;
    
}
.profile:hover{
    background-color: #5EC3B0;
}
/*Two Classes Can Be Applied To A Single Element*/
.contact
{
    background-color: #EAF6F6;
}
.contact:hover
{
    background-color: white;
}
.round
{
    border-radius: 20%;
}

/****************************ID SELECTOR******************************/
#index_heading
{
    color: #5EC3B0;
}
/*id are unique but classes can be duplicated*/
